body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

.input-container {
    margin-top: 20px;
    margin-right: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

.result-container {
    margin-top: 20px;
}

p {
    font-weight: bold;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-top: 5px;
}

.log-container {
    display: flex;
    flex-direction: column; /* Menyusun elemen secara vertikal */
    align-items: center; /* Mengatur elemen secara horizontal di tengah */
    text-align: center; /* Mengatur teks ke tengah */
    margin-top: 20px;
}


h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    text-align: left;
    margin-bottom: 5px;
}
